# Dependencies
node_modules
npm-debug.log*

# Build outputs
dist
build

# Prisma
prisma/migrations

# Environment
.env
.env.local

# IDE
.vscode
.idea

# Testing
coverage

# Misc
.DS_Store

# Docker
Dockerfile
Dockerfile.dev
.dockerignore
